.mr-selection-pane {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.mr-selection-pane .vega-embed {
  overflow: hidden;
  display: unset;
}
.mr-selection-pane .vega-embed details {
  display: none;
}

.mr-selection-pane .mr-selection-content {
  padding: 8px 16px;
}

.mr-selection-pane .mr-selection-content .MuiListSubheader-root.MuiListSubheader-sticky {
  position: unset;
  padding-left: 0;
  padding-right: 0;
}
