.mr-slicer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mr-slicer .vega-embed.has-actions {
  padding-right: 0;
}

.mr-slicer .vega-embed details {
  display: none;
}

.mr-slicer .mr-ui-select-list {
  padding: 24px 0 0 8px;
}

.mr-slicer .mr-ui-select-list .MuiListSubheader-root {
  line-height: 28px;
  padding: 0;
  cursor: pointer;
}
