.mr-ui-spinning-loader {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/spinner.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.flexlayout__tab .mr-ui-spinning-loader {
  width: 100%;
  height: 100%;
}

.mr-ui-spinning-loader > div {
  width: 100%;
  text-align: center;
  top: calc(50% + 48px);
  position: absolute;
}
