.table-header:hover {
  /* background-color: var(--background-hover); */
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.column-label {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

/*#region Column resizing */

.resizer {
  position: absolute;
  right: -2px;
  top: 0;
  height: 100%;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  z-index: 100;
  max-height: 100%;
}

/* .resizer:before {
  top: 4px;
  right: -3px;
  height: calc(100%);
  max-height: calc(var(--mr-cell-height) - 8px);
  width: 11px;
  position: absolute;
  border-color: #444746;
  border-width: 3px;
  border-style: none solid;
  content: "";
  opacity: 0;
}
.resizer:hover:before {
  opacity: 1;
}
.resizer.isResizing:before {
  opacity: 0;
} */

.table-header:hover .resizer {
  background-color: rgb(199, 199, 199);
}

.resizer.isResizing {
  background-color: rgb(199, 199, 199);
  max-height: unset;
  /* opacity: 1; */
}

/*#endregion*/

/*#region Column dragging */

.drop-target {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.is-dragging-over {
  position: absolute;
  width: 3px;
  left: 0;
  top: 0;
  background-color: gray;
}

.draggable-handle {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  color: rgba(0, 0, 0, 0.56);
  display: flex;
  align-items: center;
  cursor: grab;
  opacity: 0;
  /* transition: 0.28s cubic-bezier(.4,0,.2,1);
  transition-property: opacity; */
}

.draggable-handle svg {
  width: 16px;
  margin-left: -2px;
  margin-top: -4px;
}

.table-header:hover .draggable-handle {
  opacity: 1;
}

/*#endregion*/

