.mr-chart {
  width: 100%;
  height: 100%;
  background-color: var(--background-main);
}

.mr-chart .vega-embed.has-actions {
  padding-right: 0;
}

.mr-chart .vega-embed details {
  display: none;
}

.mr-chart .vega-embed,
.mr-chart .vega-embed .chart-wrapper {
  display: flex;
}

.mr-chart-spec-menu textarea {
  width: 100%;
  min-height: 240px;
}

.mr-chart .mr-error {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.mr-ui-popover-menu.mr-controls-menu.mr-chart-axis-menu {
  width: 320px;
  min-height: 32px;
}

.mr-controls-menu.mr-chart-axis-menu .mr-ui-popover-click-trap {
  display: flex;
  flex-direction: column;
}
.mr-controls-menu.mr-chart-axis-menu .MuiFormControl-root + .MuiFormControl-root {
  margin-top: 16px;
}

.mr-ui-popover-menu.mr-controls-menu.mr-chart-controls-menu {
  max-width: 320px;
  min-height: 32px;
}

.mr-chart-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.mr-chart .mr-chart-field-filter {
  position: absolute;
  top: 3px;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, 0);
}

.mr-chart .mr-chart-field-filter .MuiSelect-select {
  height: 16px;
  line-height: 18px;
  min-height: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
}

.mr-chart .mr-chart-field-filter.mr-ui-select.MuiFormControl-root {
  margin: 0;
}