/*#region Trigger button */

.mr-colour-settings-button,
.mr-colour-settings-button .MuiInputAdornment-root,
.mr-colour-settings-button input {
  cursor: pointer;
}

.mr-colour-settings-button .MuiInputBase-root {
  padding-right: 10px;
}

.mr-colour-settings-button .MuiFormLabel-root {
  background-color: var(--background-main);
}

/*#endregion*/


/*#region Menu */

.mr-colour-settings-menu.mr-ui-popover-menu.MuiPopover-paper {
  /* padding: 0 !important; */
  width: 400px;
  height: 360px;
  /* min-height: 400px; */
  /* max-height: calc(100% - 200px); */
}

/*#endregion*/


/*#region  */

.mr-colour-settings-menu .MuiToggleButtonGroup-root {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  width: 100%;

  background-color: var(--background-main);
}
.mr-colour-settings-menu .MuiToggleButton-label {
  overflow: hidden;
  white-space: nowrap;
}
/* .mr-colour-settings-menu .mr-toggle-buttons {
  position: sticky;
  top: -8px;
  z-index: 1000;
} */
/*#endregion*/


/*#region Form controls */

.mr-colour-settings-menu .MuiFormControl-root + .MuiFormControl-root {
  margin-top: 8px;
}

.mr-colour-settings-menu .MuiInputBase-input {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
}

.mr-colour-settings-menu .mr-ui-switch {
  margin-bottom: 8px;
}

/*#endregion*/
