/*#region Trigger button */

.mr-colour-settings-button {
  background-color: inherit;
  text-align: inherit;
  align-items: stretch;
}

.mr-colour-settings-button svg {
  /* top: calc(50% - 12px); */
  color: rgba(0, 0, 0, 0.54);
  /* position: absolute; */
  pointer-events: none;
  /* right: 7px; */
  width: 24px;
  height: 24px;
}

/*#endregion*/


/*#region Menu */

.mr-colour-settings-menu.mr-ui-popover-menu.MuiPopover-paper {
  /* padding: 0 !important; */
  width: 400px;
  height: 360px;
  /* min-height: 400px; */
  /* max-height: calc(100% - 200px); */
}

/*#endregion*/


/*#region  */

.mr-colour-settings-menu .MuiToggleButtonGroup-root {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  width: 100%;

  background-color: var(--background-main);
}
.mr-colour-settings-menu .MuiToggleButton-label {
  overflow: hidden;
  white-space: nowrap;
}
/* .mr-colour-settings-menu .mr-toggle-buttons {
  position: sticky;
  top: -8px;
  z-index: 1000;
} */
/*#endregion*/


/*#region Form controls */

.mr-colour-settings-menu .MuiFormControl-root + .MuiFormControl-root {
  margin-top: 8px;
}

.mr-colour-settings-menu .MuiInputBase-input {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
}

.mr-colour-settings-menu .mr-ui-switch {
  margin-bottom: 8px;
}

/*#endregion*/
