.root {
  align-items: center;
  background-color: rgba(248, 249, 250, 0.28);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
