@import './controls.css';

/*#region Reset background */

.mr-panes.flexlayout__layout .flexlayout__tabset,
.mr-panes.flexlayout__layout .flexlayout__tabset_tabbar_outer,
.mr-panes.flexlayout__layout .flexlayout__tab,
.mr-panes.flexlayout__layout .flexlayout__border_button,
.mr-panes .BaseTable,
.mr-panes .BaseTable__table {
  --font-family: var(--body-font);
  background-color: unset;
  font-family: var(--body-font);
  font-weight: normal;
}

.mr-panes.flexlayout__layout .flexlayout__outline_rect {
  border: 4px solid var(--primary-dark);
}

/*#endregion*/

/*#region Set icons for tab action buttons */

.mr-panes .flexlayout__tab_button_overflow,
.mr-panes .flexlayout__tab_button_trailing {
  background-image: none !important;
}

.mr-panes .flexlayout__tab_button_trailing {
  display: flex;
  margin-left: 2px;
}

.mr-panes .flexlayout__tab_button.flexlayout__tab_button--selected:hover {
  filter: brightness(0.9);
}

.mr-panes .flexlayout__tab_button_trailing svg {
  width: 14px;
  height: 14px;
  opacity: 0;
}

.mr-panes .flexlayout__tab_button:hover svg,
.mr-panes .flexlayout__tab_button--selected .flexlayout__tab_button_trailing svg {
  opacity: 1;
}

.mr-panes .flexlayout__tabset_tab_divider {
  width: 0;
}

/*#endregion*/

/*#region Move max/restore buttons to the left */
.mr-panes .flexlayout__tab_toolbar {
  flex-grow: 1;
  margin-top: 4px;
  margin-left: -2px;
  padding-left: 0;
}
.mr-panes .flexlayout__tab_toolbar .flexlayout__tab_toolbar_button {
  width: 16px;
  height: 16px;
  padding: 0;
}

.mr-panes .flexlayout__tabset_tabbar_inner {
  flex-grow: unset;
}

.mr-panes .flexlayout__tabset_tabbar_inner_tab_container {
  position: static;
  width: auto !important;
}

.mr-panes .flexlayout__tab_button_overflow {
  display: none;
}

/*#endregion*/

/*#region Max/restore buttons */

.mr-panes .flexlayout__tab_toolbar_button {
  cursor: pointer;
  z-index: 1;
}

.mr-panes .flexlayout__tab_toolbar_button:hover {
  filter: brightness(0.8);
}

/*#endregion*/

/*#region Splitters */

.mr-panes.flexlayout__layout .flexlayout__splitter {
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  opacity: 1;
  z-index: 2;
}

.mr-panes.flexlayout__layout .flexlayout__splitter:hover {
  background: #407A8C;
  transition: all .28s cubic-bezier(.4, 0, .2, 1);
}

.mr-panes.flexlayout__layout .flexlayout__splitter:hover::after,
.mr-panes.flexlayout__layout .flexlayout__splitter_drag::after {
  background: var(--primary-dark);
  bottom: -2px;
  content: "";
  left: -2px;
  ;
  position: absolute;
  right: -2px;
  top: -2px;
}

.mr-panes.flexlayout__layout .flexlayout__splitter.horizontal {
  height: 7px;
  margin: -3px 0;
  border-top: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

/*#endregion*/

/*#region Reset tab header height */

.mr-panes.flexlayout__layout .flexlayout__tabset-selected {
  background: transparent;
}

.mr-panes.flexlayout__layout .flexlayout__tabset_tabbar_outer {
  margin-top: 2px;
  margin-left: 2px;
  height: 16px !important;
  z-index: 2;
  overflow: visible;
  position: relative;
  border: none;
}

.mr-panes.flexlayout__layout .flexlayout__tabset_tabbar_inner {
  display: flex;
  /* margin: 0 4px; */
  /* background: #fff; */
  border-radius: 4px;
  align-items: stretch;
  /* padding: 4px; */
  overflow: visible;
  /* z-index: 1; */
  /* top: -16px; */
}

.mr-panes.flexlayout__layout .flexlayout__tab_button {
  height: 16px !important;
  padding: 0 4px 0 4px;
}

/*#endregion*/

/*#region Style tab buttons to match Pathogen.watch tabs */

.mr-panes.flexlayout__layout .flexlayout__tab_button {
  /* cursor: move; */
  background: var(--background-main);
  border-radius: 0;
  border-right: none;
  border: 1px solid rgba(0, 0, 0, 0.28);
  font-size: 11px;
  margin: 0;
  outline: none;
  text-decoration: none !important;
  transition-property: background-color, color;
  transition: .28s cubic-bezier(.4, 0, .2, 1);
}

.mr-panes.flexlayout__layout .flexlayout__tab_button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.mr-panes.flexlayout__layout .flexlayout__tab_button:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.28);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mr-panes.flexlayout__layout .flexlayout__tab_button.flexlayout__tab_button--selected {
  background: var(--primary-dark);
  border-color: var(--primary-dark);
  color: var(--primary-contrast);
}

.mr-panes.flexlayout__layout .flexlayout__tab_button_textbox {
  font-size: 11px;
  padding-left: 0;
  padding-right: 0;
}

.mr-panes.flexlayout__layout .flexlayout__tab_button_content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*#endregion*/


/*#region Reset tabs overflow */

.mr-panes .flexlayout__tab {
  overflow: hidden;
  /* z-index: 99 !important; */
}

/*#endregion*/


/*#region Border tabs */

.mr-panes.flexlayout__layout .flexlayout__border_inner_tab_container {
  padding: 0;
}

.mr-panes.flexlayout__layout .flexlayout__border_tab_divider {
  display: none;
}

.mr-panes.flexlayout__layout .flexlayout__border_button {
  background: var(--background-main);
  border-radius: 0;
  border-right: none;
  border: 1px solid rgba(0, 0, 0, 0.28);
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  outline: none;
  text-decoration: none !important;
  transition-property: background-color, color;
  transition: .28s cubic-bezier(.4, 0, .2, 1);
  padding-top: 1px;
}

.mr-panes.flexlayout__layout .flexlayout__border_button.flexlayout__border_button--selected {
  background: var(--primary-dark);
  border-color: var(--primary-dark);
  color: var(--primary-contrast);
}

/*#endregion*/

/*#region Drag to add rect  */

.mr-panes .flexlayout__drag_rect {
  border: solid 4px var(--primary-main);
  height: 80px;
  width: 240px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  position: relative;
}

.mr-panes .flexlayout__drag_rect button {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  padding: 0;
  width: 24px;
  border: none;
  background-image: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij4NCjxwYXRoIGQ9Ik0xOC4zIDUuNzFhLjk5NTkuOTk1OSAwIDAwLTEuNDEgMEwxMiAxMC41OSA3LjExIDUuN2EuOTk1OS45OTU5IDAgMDAtMS40MSAwYy0uMzkuMzktLjM5IDEuMDIgMCAxLjQxTDEwLjU5IDEyIDUuNyAxNi44OWMtLjM5LjM5LS4zOSAxLjAyIDAgMS40MS4zOS4zOSAxLjAyLjM5IDEuNDEgMEwxMiAxMy40MWw0Ljg5IDQuODljLjM5LjM5IDEuMDIuMzkgMS40MSAwIC4zOS0uMzkuMzktMS4wMiAwLTEuNDFMMTMuNDEgMTJsNC44OS00Ljg5Yy4zOC0uMzguMzgtMS4wMiAwLTEuNHoiIGZpbGw9InJnYmEoMCwgMCwgMCwgMC41NCkiLz4NCjwvc3ZnPg==');
  background-color: transparent;
}

.mr-panes .flexlayout__drag_rect button:hover {
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
  background-color: rgb(224, 224, 224);
}

/*#endregion*/
