.mr-slicer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mr-slicer .mr-ui-select-list {
  height: calc(100% - 24px);
  width: calc(100% - 8px);
  margin-top: 24px;
  margin-left: 8px;
}

.mr-slicer .mr-ui-select-list .MuiListItemText-root {
  position: relative;
}
.mr-slicer .mr-ui-select-list .mr-slicer-content {
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 10px;
  height: 2px;
}
.mr-slicer .mr-ui-select-list .mr-slicer-bar {
  background-color: var(--text-primary);
  height: 100%;
}

.mr-slicer .mr-ui-select-list .MuiListSubheader-root {
  line-height: 28px;
  padding: 0;
  cursor: pointer;
}
