/*#region Customisation of ag-grid theme */

/* https: //www.ag-grid.com/react-data-grid/global-style-customisation/ */
.ag-theme-alpine {
  --ag-foreground-color: var(--text-primary);
  --ag-background-color: var(--background-main);

  --ag-header-foreground-color: var(--primary-main);
  --ag-header-background-color: var(--background-main);

  --ag-odd-row-background-color: rgba(0, 0, 0, 0.03);
  --ag-selected-row-background-color: rgba(0, 0, 0, 0.10);
  --ag-row-hover-color: rgba(0, 0, 0, 0.05);
  --ag-range-selection-border-color: var(--primary-main);

  --ag-checkbox-background-color: var(--background-main);
  --ag-checkbox-checked-color: var(--primary-main);
  --ag-checkbox-unchecked-color: var(--text-primary);
  --ag-checkbox-indeterminate-color: var(--background-main);

  --ag-font-size: 13px;
  --ag-font-family: inherit;
  --ag-grid-size: 5px;

  padding-top: 24px;

}

.ag-theme-alpine.comfortable {
  --ag-row-height: 40px;
}

.ag-theme-alpine.cosy {
  --ag-row-height: 32px;
}

.ag-theme-alpine.compact {
  --ag-row-height: 24px;
}

/*#endregion*/

/*#region Top padding for main table */
.mr-table {
  padding-top: 24px;
  overflow: hidden;
  box-sizing: border-box;
}

/*#endregion*/


/*#region Reset header row background */
.mr-table .BaseTable__table-main .BaseTable__header,
.mr-table .BaseTable__header-row {
  background: var(--background-main);
}

.mr-table .BaseTable__header-cell:hover {
  background-color: var(--background-hover);
}

/*#endregion*/


/*#region Reset padding of header cells and row cells */
.mr-table .BaseTable__header-cell,
.mr-table .BaseTable__row-cell {
  padding: 0 8px !important;
  /* to override first and last cell paddings */
}

/*#endregion*/


/*#region Style header cells */

/* .mr-table .BaseTable__header-cell.mr-group-cell {
  justify-content: center;
} */

.mr-table .BaseTable__header-cell-text {
  color: var(--primary-main);
  font-weight: 700;
  white-space: nowrap;
}

.mr-table .BaseTable__header-cell--align-right {
  justify-content: flex-start;
  text-align: left;
}

/*#region Style sort indicator in header cells */
.mr-table .BaseTable__sort-indicator {
  margin-top: -4px;
  display: none !important;
}

/*#endregion*/

/*#endregion*/


/*#region Style data rows */

.mr-table .BaseTable__row {
  border: none;
  background: var(--background-main);
}

.mr-table .BaseTable__row:nth-child(even) {
  background-color: var(--background-highlight);
}

.mr-table .BaseTable__row:hover {
  background-color: var(--background-hover);
}

.mr-table .BaseTable__row.BaseTable__row--hovered {
  background-color: var(--background-hover);
}

/*#endregion*/


/*#region Style data cells */

.mr-table .BaseTable__row-cell a {
  color: var(--primary-main);
}

/*#endregion*/


/*#region Draggable column handle */
.mr-table .draggable-handle {
  width: 8px;
  overflow: hidden;
  position: absolute;
  left: 0px;
  display: none;
  color: rgba(0, 0, 0, 0.56);
}

.mr-table .draggable-handle svg {
  margin-left: -6px;
}

.mr-table .BaseTable__header-cell:hover .draggable-handle {
  display: unset;
}

.mr-table .BaseTable__header-row .draggable-handle:hover {
  cursor: grab;
}

/*#endregion*/


/*#region Dragging column headers */
.mr-table>.BaseTable__header-cell {
  background-color: #5f6368;
  pointer-events: all !important;
}

.mr-table>.BaseTable__header-cell,
.mr-table>.BaseTable__header-cell .draggable-handle {
  cursor: grabbing !important;
}

/*#endregion*/
