.root {
  color: var(--primary-main);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input {
  background-color: var(--primary-main);
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9em;
  font-variant-ligatures: no-contextual;
  font-weight: 500;
  height: 28px;
  left: 1px;
  padding: 0;
  position: absolute;
  text-overflow: ellipsis;
  top: 3px;
  padding-left: 2px;
  visibility: visible;
  width: calc(100% - 2px);
}

.input:hover {
   border: 1px solid #ffffffa8;
}

.input:focus {
  margin: 0 -1px;
  background-color: #5c8a97;
  border: 2px solid #fff;
  color: #fff;
  cursor: text;
  outline: 0;
}
