.container{
    display: inline-block;
}
.editTextInput{
    cursor: pointer;
    background-color: #3d7383;
    border-radius: 4px;
    border: 1px solid #ffffffa8;
    color: #fff;
    font-weight: 500;
    font-size: 1.15rem;
    height: 29px;
    padding: 0 8px;
    min-width:420px;
}

.editTextInput:focus{
    background-color: #5c8a97;
    outline: 0;
    border: 2px solid #fff;
    color: #fff;
    cursor: text;
}
