.root {
  color: var(--primary-main);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 4px;
}

.root.readonly {
  color: unset;
}

.input {
  background-color: var(--primary-main);
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-variant-ligatures: no-contextual;
  font-weight: 500;
  height: 28px;
  left: 1px;
  position: absolute;
  text-overflow: ellipsis;
  top: 3px;
  visibility: visible;
  width: calc(100% - 2px);
}

.input:hover {
  border: 1px solid #ffffffa8;
  width: calc(100% - 2px);
}

.input:focus {
  margin: 0 -1px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid #fff;
  width: calc(100% - 1px);
  color: #fff;
  cursor: text;
  outline: 0;
}
